/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

:root {
    --main--color: #FFBD54;
    --main-text-color: #333333;
    --main--blue-color: #78C0DE;
}

@font-face {
    font-family: "FuturaPT";
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/FuturaPT-Light.woff2') format('woff2'),
        url('../fonts/FuturaPT-Light.woff') format('woff');
}

@font-face {
    font-family: "FuturaPT";
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/FuturaPT-Book.woff2') format('woff2'),
        url('../fonts/FuturaPT-Book.woff') format('woff');
}

@font-face {
    font-family: "FuturaPT";
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/FuturaPT-Medium.woff') format('woff2'),
        url('../fonts/FuturaPT-Medium.woff') format('woff');
}

@font-face {
    font-family: "FuturaPT";
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/FuturaPT-Bold.woff') format('woff2'),
        url('../fonts/FuturaPT-Bold.woff') format('woff');
}

/* General */
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
}

img {
    display: block;
    height: auto;
}

a {
    display: inline-block;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "FuturaPT", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
    background-image: url("../images/bg.png");
    background-color: #f9f9f9;
    background-position: calc(50% - 25px) calc(50% + 2040px);
    /* background-repeat: no-repeat; */
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Container */
.container {
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Sticky-Footer */
.site-main {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

/* Start Header Section */
.header-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 12px 0 10px 0;
}

.header-top__address-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: var(--main-text-color);
}

.header-top__address-link::before {
    width: 14px;
    height: 13px;
    margin-right: 9px;
    background-image: url('../images/house.svg');
    background-repeat: no-repeat;
    content: '';
}

.header-top__tel-box,
.header-top__tel-links-active,
.header-top__time-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header-top__tel-box {
    margin: 0 98px 0 106px;
}

.header-top__tel-box::before {
    width: 13px;
    height: 13px;
    margin-right: 9px;
    background-image: url('../images/phone.svg');
    background-repeat: no-repeat;
    content: '';
}

.header-top__address,
.header-top__tel-links,
.header-top__time-text,
.footer-part__time-text,
.footer-part__tel-links {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: var(--main-text-color);
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.header-top__time-text,
.footer-part__time-text {
    font-weight: bold;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header-top__time-text:nth-child(1) {
    margin-right: 17px;
}

.header-top__time-text span,
.footer-part__time-text span {
    margin: 0 0 0 5px;
    font-weight: 500;
}

.header-top__tel-links:hover,
.footer-part__tel-links:hover,
.contact-list__phone-link:hover {
    color: var(--main--color);
}

.header-top__tel-links:active,
.footer-part__tel-links:active {
    color: var(--main-text-color);
    opacity: 0.6;
}

.header-top__tel-links-active::before,
.header-top__tel-links-active::after {
    width: 4px;
    height: 4px;
    margin: 0 9px 0 9px;
    background-image: url('../images/dot-bg-img.svg');
    background-repeat: no-repeat;
    content: '';
}

.top-header__time-box::before {
    width: 14px;
    height: 14px;
    margin-right: 9px;
    background-image: url('../images/schedule.svg');
    background-repeat: no-repeat;
    content: '';
}

.top-header__time-text:not(:last-child) {
    margin-right: 17px;
}

.header-main-part {
    background: #FFFFFF;
    border: 1px solid #F3F3F3;
}

.header-main {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 16px 0 20px 0;
    /* justify-content: flex-end; */
}

.header-main__logo-link {
    -webkit-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s;
}

.header-main__logo-link:hover {
    opacity: 0.8;
}

.header-main__logo-link:active {
    opacity: 0.6;
}

.header-main__logo-img {
    position: absolute;
    top: -18px;
    left: 0;
}

.header-main__nav {
    margin: 0 163px 0 293px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.header-main__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 725px;
}

.header-main__item:not(:nth-child(6)) {
    margin-right: 55px;
}

.header-main__link {
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: var(--main-text-color);
    border-bottom: 4px solid transparent;
    -webkit-transition: border-bottom 0.5s;
    -o-transition: border-bottom 0.5s;
    transition: border-bottom 0.5s;
}

.header-main__link:hover,
.header-main__question-link:hover {
    border-bottom: 4px solid #F4FFAD;
}

.header-main__link:active,
.header-main__question-link:active {
    opacity: 0.6;
}

.header-main__link-active {
    position: relative;
}

.header-main__link-active::before {
    position: absolute;
    top: 3px;
    left: -30px;
    width: 18px;
    height: 15px;
    margin-right: 12px;
    background-image: url('../images/active-fish.svg');
    background-repeat: no-repeat;
    background-size: cover;
    content: '';
}

.header-main__question-link {
    position: relative;
    font-weight: 700;
    line-height: 21px;
    color: var(--main-text-color);
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    border: none;
    border-bottom: 4px solid transparent;
    background-color: transparent;
    cursor: pointer;
}

.header-main__question-link::before,
.useful-list__link::before {
    position: absolute;
    top: 0;
    left: -29px;
    width: 23px;
    height: 20px;
    margin-right: 5px;
    background-image: url('../images/pet.svg');
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
}

.useful-list__link::before {
    position: static;
}

/* End of Header Section */

/* Start Hero Section */
#hero {
    background-image: url('../images/hero-bg-img.png'), url('../images/hero-parrot-bg-img.png');
    background-size: 870px 834px, 350px 430px;
    background-repeat: no-repeat;
    background-position: calc(50% - 550px) calc(50% - 80px), calc(50% + 690px) calc(50% + 190px);
}

.hero-part__info-box {
    width: 608px;
    margin: 0 37px 0 auto;
    padding: 145px 0 321px 0;
}

.hero-part__title {
    margin: 0;
    font-weight: 700;
    font-size: 70px;
    line-height: 64px;
    color: var(--main-text-color);
}

.hero-part__title-focus {
    color: var(--main--blue-color);
}

.hero-part__text-box {
    width: 495px;
}

.hero-part__text {
    margin: 29px 0 38px 0;
    line-height: 21px;
    color: #949494;
}

.hero-part__link {
    padding: 15px 48px 16px 47px;
    font-weight: 500;
    line-height: 21px;
    color: #FFFFFF;
    background-color: var(--main-text-color);
    border-radius: 3px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.hero-part__link:hover {
    background-color: var(--main--color);
    color: var(--main-text-color);
}

.hero-part__link:active {
    opacity: 0.6;
}

/* End of Hero Section */

/* Start Quote Section */
.quote-part {
    position: relative;
    width: 753px;
    margin: 0 auto;
}

.quote-part::before {
    position: absolute;
    top: -30px;
    left: -100px;
    width: 142px;
    height: 128px;
    background-image: url('../images/quote-open.svg');
    background-repeat: no-repeat;
    content: '';
}

.quote-part::after {
    position: absolute;
    bottom: 5px;
    right: -177px;
    width: 142px;
    height: 128px;
    background-image: url('../images/quote-close.svg');
    background-repeat: no-repeat;
    content: '';
}

.quote-part__quote-text {
    position: relative;
    margin: 0;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #949494;
}

.quote-part__quote-text::before {
    position: absolute;
    top: -43px;
    left: 37%;
    width: 142px;
    height: 1px;
    background-color: #DBDBDB;
    content: '';
}

.quote-part__quote-text::after {
    position: absolute;
    bottom: 60px;
    left: 37%;
    width: 142px;
    height: 1px;
    background-color: #DBDBDB;
    content: '';
}

.quote-part__text {
    margin: 70px 0 0 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: var(--main-text-color);
}

/* End of Quote Section */

/* Start Service Section */
#service {
    padding: 191px 0 246px 0;
}

.section-title-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.section-title-box__title {
    margin: 0;
    font-weight: 700;
    font-size: 48px;
    line-height: 54px;
    color: var(--main-text-color);
}

.service-part__list-box {
    position: relative;
}

.service-part__arrow-left {
    position: absolute;
    top: 45%;
    left: -30px;
    z-index: 1;
    padding: 12px 18px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.service-part__arrow-right {
    position: absolute;
    top: 45%;
    right: -30px;
    z-index: 1;
    padding: 12px 18px;
    background-color: transparent;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    border: none;
    cursor: pointer;
}

.service-part__arrow-left:hover,
.service-part__arrow-right:hover {
    padding: 12px 18px;
    background-color: #fff;
}

.service-part__arrow-left:active,
.service-part__arrow-right:active {
    opacity: 0.6;
}

.service-list {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 1223px;
    margin: 80px auto 0 auto;
    overflow-x: hidden;
}

.service-list__item {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 193px;
    margin: 0 13px 14px 0;
    padding: 30px 32px 28px 35px;
    text-align: center;
    background-color: #FFFFFF;
    border: 1px solid #F3F3F3;
    border-radius: 5px 5px 0px 0px;
    -webkit-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}

.service-list__item:hover {
    opacity: 0.8;
}

.service-list__item:active {
    opacity: 0.6;
}

.service-list__item--active {
    margin-bottom: 0;
    border: none;
}

.service-list__item::before {
    display: block;
    margin: 0 auto;
    width: 76px;
    height: 76px;
    background-image: url("../images/service-doctor.svg");
    background-position: center;
    background-repeat: no-repeat;
    content: '';
}

.service-list__item:nth-child(2)::before {
    background-image: url("../images/service-first-view.svg");
}

.service-list__item:nth-child(3)::before {
    background-image: url("../images/service-xirurg.svg");
}

.service-list__item:nth-child(4)::before {
    background-image: url("../images/service-dermotology.svg");
}

.service-list__item:nth-child(5)::before {
    background-image: url("../images/service-labrotory-diagnostika.svg");
}

.service-list__item:nth-child(6)::before {
    background-image: url("../images/service-oftomologiya.svg");
}

.service-list__item:nth-child(7)::before {
    background-image: url("../images/service-uzi.svg");
}

.service-list__item:nth-child(8)::before {
    background-image: url("../images/service-chip.svg");
    background-size: 40px 77px;
}

.service-list__item:nth-child(9)::before {
    background-image: url("../images/service-int-passport.svg");
}

.service-list__item:nth-child(10)::before {
    background-image: url("../images/service-vaccine.svg");
}

.service-list__item:nth-child(11)::before {
    background-image: url("../images/service-stomotology.svg");
}

.service-list__item:nth-child(12)::before {
    background-image: url("../images/service-call-home.svg");
}

.service-list__link {
    margin-top: 21px;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: var(--main-text-color);
}

.service-list__title {
    margin: 21px 0 0 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: var(--main-text-color);
}

.service-content {
    width: 1223px;
    margin: 0 auto;
    background-color: #FFFFFF;
    border-radius: 0px 5px 5px 5px;
}

.service-content__main-img {
    border-radius: 5px;
}

.service-content__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 42px 35px 43px;
}

.content-box {
    width: 492px;
    margin-left: 67px;
}

.content-box__title {
    margin: 0;
    font-weight: 500;
    font-size: 36px;
    line-height: 20px;
    color: var(--main-text-color);
}

.content-box__text {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #949494;
}

.content-box__text--active {
    margin: 18px 0 9px 0;
}

.content-box__link-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 447px;
    margin-top: 34px;
}

.content-box__price-link,
.content-box__subscribe-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 21px;
    padding: 14px 36px 15px 35px;
    font-weight: 500;
    line-height: 21px;
    color: #FFFFFF;
    background-color: var(--main--color);
    border-radius: 3px;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.content-box__price-link:hover {
    background-color: var(--main-text-color);
    color: var(--main--color);
}

.content-box__subscribe-link:hover {
    background-color: var(--main--color);
    color: var(--main-text-color);
}

.content-box__subscribe-link:active,
.content-box__price-link:active {
    opacity: 0.6;
}

.content-box__price-link::before {
    content: '';
    width: 21px;
    height: 21px;
    margin-right: 7px;
    background-image: url('../images/money.svg');
    background-repeat: no-repeat;
}

.content-box__subscribe-link {
    margin-right: 0;
    padding: 14px 37px 15px 37px;
    background-color: var(--main-text-color);
}

.content-box__subscribe-link::before {
    content: '';
    width: 21px;
    height: 21px;
    margin-right: 7px;
    background-image: url('../images/document.svg');
    background-repeat: no-repeat;
}

/* End of Service Section */

/* Start Notification Section */
#notification {
    position: relative;
    padding: 90px 0 99px 0;
    background-image: url("../images/article-bg-img.png");
    background-repeat: no-repeat;
    background-position: center, calc(50% + 0px) calc(50% + 0px);
    background-size: cover, 613px 481px;
}

.notification-part {
    margin-left: 200px;
}

.notification-part::after {
    position: absolute;
    top: calc(50% - 260px);
    left: calc(50% + 70px);
    width: 613px;
    height: 481px;
    background-image: url("../images/article-img.png");
    content: '';
}

.notification-part__title {
    margin: 0 0 49px 0;
    font-weight: 700;
    font-size: 48px;
    line-height: 20px;
    color: #FFFFFF;
}

.notification-part__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.notification-part__input {
    width: 335px;
    padding: 18px 22px 12px;
    color: var(--main-text-color);
    background-color: #FFFFFF;
    border: 2px solid transparent;
    border-radius: 5px;
    outline: none;
}

.notification-part__input:focus {
    border: 2px solid var(--main--color);
}

.notification-part__input:not(:-moz-placeholder-shown):not(:focus):invalid {
    color: #DC4D41;
    border: 2px solid #DC4D41;
}

.notification-part__input:not(:-ms-input-placeholder):not(:focus):invalid {
    color: #DC4D41;
    border: 2px solid #DC4D41;
}

.notification-part__input:not(:placeholder-shown):not(:focus):invalid {
    color: #DC4D41;
    border: 2px solid #DC4D41;
}

.notification-part__input::-webkit-input-placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #949494;
}

.notification-part__input::-moz-placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #949494;
}

.notification-part__input:-ms-input-placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #949494;
}

.notification-part__input::-ms-input-placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #949494;
}

.notification-part__input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #949494;
}

.notification-part__btn {
    margin-left: 21px;
    padding: 14px 53px 15px 51px;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    background-color: var(--main-text-color);
    border-radius: 3px;
    border: none;
    cursor: pointer;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.notification-part__btn:hover {
    background-color: var(--main--color);
    color: var(--main-text-color);
}

.notification-part__btn:active {
    opacity: 0.6;
}

/* End of Notification Section */

/* Start Useful Section */
#useful {
    padding: 216px 0 265px 0;
    overflow-x: hidden;
}

.useful-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-evenly;
    margin-top: 80px;
}

.useful-list__item {
    width: 305px;
    background-color: #FEFEFE;
    border: 1px solid #E4E4E2;
    border-radius: 5px;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.useful-list__item:hover {
    -webkit-filter: drop-shadow(0px 4px 4px #00000040);
    filter: drop-shadow(0px 4px 4px #00000040);
}

.useful-list__img {
    width: 305px;
    height: 180px;
    border-radius: 5px 5px 0 0;
}

.useful-list__text-box {
    padding: 21px 22px 36px 30px;
}

.useful-list__top-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.useful-list__tag-box {
    display: none;
}

.useful-list__tax-link:not(:last-child) {
    margin-right: 8px;
}

.useful-list__tax-link {
    font-size: 14px;
    line-height: 22px;
    color: var(--main--blue-color);
}

.useful-list__time-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #949494;
}

.useful-list__title-box {
    width: 182px;
}

.useful-list__title {
    margin: 0;
    font-weight: 700;
    font-size: 22px;
    line-height: 25px;
    color: #000000;
}

.useful-list__box-text {
    width: 244px;
}

.useful-list__text,
.useful-list__text--active {
    margin: 10px 0 35px 0;
    line-height: 20px;
    color: #949494;
}

.useful-list__text-active {
    display: none;
}

.useful-list__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: var(--main-text-color);
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    border: none;
    background-color: transparent;
}

.useful-list__link:hover {
    color: var(--main--color);
}

.useful-list__link:active {
    color: var(--main-text-color);
    opacity: .6;
}

/* ------- Start Useful Item Active */
.useful-list__item--active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 640px;
}

.useful-list__item--active .useful-list__img {
    height: auto;
}

.useful-list__item--active .useful-list__text {
    display: none;
}

.useful-list__item--active .useful-list__text-active {
    display: block;
}

.useful-list__item--active .useful-list__top-box {
    margin-bottom: 31px;
}

.useful-list__item--active .useful-list__tag-box {
    display: block;
}

.useful-list__item--active .useful-list__text-box {
    padding: 19px 22px 19px 30px;
}

.useful-list__item--active .useful-list__time-text {
    margin-right: -30px;
}

/* ------- End of Useful Item Active */

/* End of Useful Section */

/* Start Connect Section */
#connect {
    background-color: var(--main-text-color);
    background-image: url("../images/black-back.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-bottom: 247px;
}

.connect-part {
    position: relative;
    width: 1519px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
}

.connect-part__maps {
    width: 462px;
    height: 100%;
}

.form-box {
    margin-left: 165px;
    padding: 62px 0 74px 0;
}

.form-box__main-form {
    width: 375px;
}

.form-box__title {
    margin: 0;
    font-weight: 700;
    font-size: 48px;
    line-height: 62px;
    color: #FFFFFF;
}

.form-box__text-box {
    width: 334px;
}

.form-box__text {
    margin: 14px 0 29px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #949494;
}

.form-box__input {
    width: 375px;
    padding: 16px 22px 13px;
    margin-bottom: 14px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--main-text-color);
    background: #FFFFFF;
    outline: none;
    border: 2px solid transparent;
}

.form-box__input::-webkit-input-placeholder {
    line-height: 21px;
    color: #949494;
}

.form-box__input::-moz-placeholder {
    line-height: 21px;
    color: #949494;
}

.form-box__input:-ms-input-placeholder {
    line-height: 21px;
    color: #949494;
}

.form-box__input::-ms-input-placeholder {
    line-height: 21px;
    color: #949494;
}

.form-box__input::placeholder {
    line-height: 21px;
    color: #949494;
}

.form-box__input:focus,
.form-box__message:focus {
    border: 2px solid var(--main--color);
}

.form-box__input:not(:-moz-placeholder-shown):not(:focus):invalid {
    color: #DC4D41;
    border: 2px solid #DC4D41;
}

.form-box__input:not(:-ms-input-placeholder):not(:focus):invalid {
    color: #DC4D41;
    border: 2px solid #DC4D41;
}

.form-box__input:not(:-moz-placeholder-shown):not(:focus):invalid,
.form-box__message:not(:-moz-placeholder-shown):not(:focus):invalid {
    color: #DC4D41;
    border: 2px solid #DC4D41;
}

.form-box__input:not(:-ms-input-placeholder):not(:focus):invalid,
.form-box__message:not(:-ms-input-placeholder):not(:focus):invalid {
    color: #DC4D41;
    border: 2px solid #DC4D41;
}

.form-box__input:not(:-moz-placeholder-shown):not(:focus):invalid,
.form-box__message:not(:-moz-placeholder-shown):not(:focus):invalid {
    color: #DC4D41;
    border: 2px solid #DC4D41;
}

.form-box__input:not(:-ms-input-placeholder):not(:focus):invalid,
.form-box__message:not(:-ms-input-placeholder):not(:focus):invalid {
    color: #DC4D41;
    border: 2px solid #DC4D41;
}

.form-box__input:not(:-moz-placeholder-shown):not(:focus):invalid,
.form-box__message:not(:-moz-placeholder-shown):not(:focus):invalid {
    color: #DC4D41;
    border: 2px solid #DC4D41;
}

.form-box__input:not(:-ms-input-placeholder):not(:focus):invalid,
.form-box__message:not(:-ms-input-placeholder):not(:focus):invalid {
    color: #DC4D41;
    border: 2px solid #DC4D41;
}

.form-box__input:not(:placeholder-shown):not(:focus):invalid,
.form-box__message:not(:placeholder-shown):not(:focus):invalid {
    color: #DC4D41;
    border: 2px solid #DC4D41;
}

.form-box__message {
    width: 375px;
    height: 165px;
    padding: 16px 22px 13px;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: var(--main-text-color);
    border: 2px solid transparent;
    resize: none;
    outline: none;
}

.form-box__message::-webkit-input-placeholder {
    color: #949494;
}

.form-box__message::-moz-placeholder {
    color: #949494;
}

.form-box__message:-ms-input-placeholder {
    color: #949494;
}

.form-box__message::-ms-input-placeholder {
    color: #949494;
}

.form-box__message::placeholder {
    color: #949494;
}

.form-box__btn {
    margin-top: 30px;
    padding: 15px 49px 14px 50px;
    font-weight: 500;
    line-height: 21px;
    color: #FFFFFF;
    background: var(--main--color);
    border: none;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.form-box__btn:hover {
    color: var(--main-text-color);
}

.form-box__btn:active {
    opacity: 0.6;
}

.connect-part__maps-link {
    width: 462px;
    height: 100%;
}

/* End of Connect Section */

/* Start Footer Section */
#site-footer {
    padding: 54px 0 23px 0;
    background-color: #F3F3F3;
    border: 1px solid #EBEBEB;
}

.footer-part {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.footer-part__link-logo {
    margin-right: 67px;
    -webkit-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}

.footer-part__link-logo:hover {
    opacity: .8;
}

.footer-part__link-logo:active {
    opacity: .6;
}

.footer-part__item {
    margin-right: 87px;
}

.footer-part__item:not(:last-child) {
    margin-bottom: 14px;
}

.footer-part__item a {
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: var(--main-text-color);
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.footer-part__item a:hover {
    color: var(--main--color);
}

.footer-part__item a:active {
    color: var(--main-text-color);
    opacity: 0.6;
}

.footer-part__time-box {
    position: relative;
    width: 140px;
    margin: 0 112px 0 40px;
}

.footer-part__time-box::before {
    position: absolute;
    top: 0px;
    left: -29px;
    width: 16px;
    height: 16px;
    background-image: url("../images/schedule.svg");
    background-repeat: no-repeat;
    content: '';
}

.footer-part__time-box p {
    margin: 0;
}

.footer-part__address-link {
    width: 157px;
}

.footer-part__address-link {
    position: relative;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: var(--main-text-color);
}

.footer-part__address-link::before {
    position: absolute;
    top: 0;
    left: -26px;
    width: 17px;
    height: 16px;
    margin-right: 9px;
    background-image: url('../images/house.svg');
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
}

.footer-part__tel-list {
    position: relative;
    width: 113px;
    margin-left: 87px;
}

.footer-part__tel-list::before {
    position: absolute;
    top: 0;
    left: -23px;
    width: 17px;
    height: 16px;
    margin-right: 9px;
    background-image: url('../images/phone.svg');
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
}

.footer-copyright-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin: 28px 0 0 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #5C5C5C;
}

/* End of Footer Section */

/* ---------- Start Service Page ---------- */

/* Start Service Hero Section */
#service-hero {
    /* padding: 118px 0 168px 0; */
    background-image: url('../images/service-hero-bg.png');
    background-repeat: no-repeat;
    background-size: 435px;
    background-position: calc(50% + 540px) calc(50% - 672px);
}

.service-hero-part__info-box,
.faq-hero-part__info-box,
.contact-hero-part__info-box {
    width: 447px;
    margin-left: 100px;
    padding: 118px 0 140px 0;
}

.service-hero-part__title,
.faq-hero-part__title,
.contact-hero-part__title {
    margin: 0;
    font-weight: 700;
    font-size: 70px;
    line-height: 64px;
    color: var(--main-text-color);
}

.service-hero-part__text,
.faq-hero-part__text,
.contact-hero-part__text {
    margin: 21px 0 0 0;
    font-size: 16px;
    line-height: 20px;
    color: #949494;
}

.service-page-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 168px;
}

.service-page-list__item {
    width: 305px;
    margin-bottom: 34px;
    padding: 58px 22px 45px 53px;
    background-color: #FFFFFF;
    background-image: url("../images/serviec-page-list-bg.svg");
    background-repeat: no-repeat;
    background-position: calc(50% + 88px) calc(50% - 146px);
    border-radius: 5px 5px 0px 0px;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.service-page-list__item:nth-child(9),
.service-page-list__item:nth-child(10),
.service-page-list__item:nth-child(11),
.service-page-list__item:nth-child(12) {
    margin-bottom: 0;
}

.service-page-list__item::before {
    display: block;
    width: 76px;
    height: 76px;
    margin-bottom: 22px;
    background-image: url("../images/service-doctor.svg");
    background-position: center;
    background-repeat: no-repeat;
    content: '';
}

.service-page-list__item:nth-child(2)::before {
    background-image: url("../images/service-first-view.svg");
}

.service-page-list__item:nth-child(3)::before {
    background-image: url("../images/service-xirurg.svg");
}

.service-page-list__item:nth-child(4)::before {
    background-image: url("../images/service-dermotology.svg");
}

.service-page-list__item:nth-child(5)::before {
    background-image: url("../images/service-labrotory-diagnostika.svg");
}

.service-page-list__item:nth-child(6)::before {
    background-image: url("../images/service-oftomologiya.svg");
}

.service-page-list__item:nth-child(7)::before {
    background-image: url("../images/service-uzi.svg");
}

.service-page-list__item:nth-child(8)::before {
    background-image: url("../images/service-chip.svg");
}

.service-page-list__item:nth-child(9)::before {
    background-image: url("../images/service-int-passport.svg");
}

.service-page-list__item:nth-child(10)::before {
    background-image: url("../images/service-vaccine.svg");
}

.service-page-list__item:nth-child(11)::before {
    background-image: url("../images/service-stomotology.svg");
}

.service-page-list__item:nth-child(12)::before {
    background-image: url("../images/service-call-home.svg");
}

.service-page-list__item:hover {
    -webkit-filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.2));
}

.service-page-list__title {
    margin: 0;
    font-weight: 600;
    font-size: 32px;
    line-height: 34px;
    color: var(--main-text-color);
}

.service-page-list__info {
    margin: 14px 0 26px 0;
    line-height: 20px;
    color: #949494;
}

.service-page-list__link {
    padding: 15px 29px 14px 30px;
    line-height: 21px;
    color: #FFFFFF;
    background-color: var(--main--color);
    border-radius: 3px;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.service-page-list__item:nth-child(odd) .service-page-list__link {
    background-color: var(--main--color);
}

.service-page-list__item:nth-child(odd) .service-page-list__link:hover {
    background-color: #000000;
}

.service-page-list__item:nth-child(even) .service-page-list__link {
    background-color: var(--main--blue-color);
}

/* End of Service Hero Section */

/* ---------- End of Service Page ---------- */

/* ---------- Start FAQ Page ---------- */

/* Start FAQ Hero Section */
#faq-hero {
    padding-bottom: 270px;
    background-image: url('../images/faq-hero-img.png'), url("../images/faq-summary-img.png");
    background-repeat: no-repeat;
    background-size: 569px 466px, ;
    background-position: calc(50% + 540px) 55px, calc(50% + 560px) 805px;
}

.faq-hero-part__info-box {
    padding-bottom: 63px;
}

.accardion-list {
    margin-left: 100px;
}

.accardion-list__item {
    width: 752px;
    padding: 23px 41px 32px 63px;
    background-color: #FFFFFF;
    border: 1px solid #F3F3F3;
    border-radius: 5px;
}

.accardion-list__item:nth-child(3),
.accardion-list__item:nth-child(6) {
    opacity: 0.6;
}

.accardion-list__item:not(:last-child) {
    margin-bottom: 18px;
}

.faq-hero-part__link {
    position: relative;
    margin-top: 35px;
    padding: 15px 38px 14px 66px;
    font-weight: 500;
    line-height: 21px;
    color: #FFFFFF;
    background-color: #78C0DE;
    border-radius: 3px;
}

.faq-hero-part__link::before {
    position: absolute;
    top: 15px;
    left: 39px;
    width: 21px;
    height: 21px;
    background-image: url("../images/document-icon.svg");
    background-repeat: no-repeat;
    content: "";
}

.faq-accardion__top-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 291px;
    margin-bottom: 10px;
}

.faq-accardion__time {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 22px;
    color: var(--main-text-color);
}

.faq-accardion__time::before {
    width: 21px;
    height: 21px;
    margin-right: 7px;
    background-image: url("../images/yellow-pet.svg");
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
}

.faq-accardion__top-text {
    margin: 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: var(--main--blue-color);
}

.accardion-list__item:nth-child(2) .faq-accardion__time::before,
.accardion-list__item:nth-child(4) .faq-accardion__time::before,
.accardion-list__item:nth-child(6) .faq-accardion__time::before {
    background-image: url("../images/blue-pet.svg");
}

.faq-accardion__part {
    position: relative;
    width: 539px;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    color: var(--main-text-color);
    list-style: none;
}

.faq-accardion__part::after {
    position: absolute;
    top: 0;
    right: -109px;
    width: 16px;
    height: 16px;
    background-image: url("../images/arrow-down.svg");
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    transition: transform .5s;
}

.faq-accardion[open] .faq-accardion__part::after {
    transform: rotate(180deg);
}

.accardion-list__item:nth-child(3) .faq-accardion__part::after,
.accardion-list__item:nth-child(6) .faq-accardion__part::after {
    background-image: url("../images/clock.svg");
}

.accardion-list__item:nth-child(3) .faq-accardion[open] .faq-accardion__part::after,
.accardion-list__item:nth-child(6) .faq-accardion[open] .faq-accardion__part::after {
    transform: none;
}

.faq-accardion__text {
    margin: 23px 0 43px 0;
    line-height: 20px;
    color: #949494;
}

/* End of FAQ Hero Section */

/* ---------- End of FAQ Page ---------- */

/* ---------- Start Contact Page ---------- */

/* Start Contact Hero Section */
#contact-hero {
    background-image: url("../images/contact-hero-img.png");
    background-position: calc(50% + 590px) calc(50% + 0px);
    background-size: 673px 568px;
    background-repeat: no-repeat;
}

.contact-hero-part {
    padding-bottom: 131px;
}

.contact-hero-part__info-box {
    padding-bottom: 117px;
}

.contact-list {
    display: flex;
    justify-content: space-between;
    width: 636px;
    margin-left: 100px;
}

.contact-list__item {
    width: 153px;
}

.contact-list__item::before {
    display: block;
    width: 73px;
    height: 73px;
    margin-bottom: 30px;
    background-image: url("../images/location.svg");
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
}

.contact-list__item:nth-child(2)::before {
    background-image: url("../images/calendar.svg");
    width: 76px;
    height: 72px;
}

.contact-list__item:nth-child(3)::before {
    background-image: url("../images/phone-chat.svg");
    width: 46px;
    height: 73px;
}

.contact-list__address-link,
.contact-list__time,
.contact-list__phone-link {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: var(--main-text-color);
    transition: color .5s;
}

.contact-list__time {
    font-weight: bold;
}

.contact-list__time:not(:last-child) {
    margin-bottom: 12px;
}

.contact-list__time-text {
    font-weight: 500;
}

.contact-list__phone-link:not(:last-child) {
    margin-bottom: 9px;
}

/* End of Contact Hero Section */

/* Start Contact Address Section */
#contact-address {
    padding: 258px 0 201px 0;
}

.contact-address-part {
    width: 1519px;
    margin: 0 auto;
}

.contact-address-part__title-box {
    position: relative;
}

.contact-address-part__title-box::before {
    position: absolute;
    top: -121px;
    left: 50%;
    width: 112px;
    height: 112px;
    background-image: url("../images/search-pet.svg");
    background-repeat: no-repeat;
    content: "";
}

.contact-address-part__title-box::after {
    position: absolute;
    top: -250px;
    left: 500px;
    width: 934px;
    height: 330px;
    background-image: url("../images/group-of-pets.svg");
    background-repeat: no-repeat;
    content: "";
}

.contact-address-part__title {
    margin: 0;
    font-weight: 700;
    font-size: 48px;
    line-height: 62px;
    color: var(--main-text-color);
    text-align: center;
}

.address-box {
    position: relative;
    display: flex;
    margin-top: 60px;
}

.address-box::before {
    position: absolute;
    top: -296px;
    left: 10px;
    width: 443px;
    height: 342px;
    background-image: url("../images/contact-address-img.png");
    content: "";
}

/* End of Contact Address Section */

/* ---------- End of Contact Page ---------- */

/* ---------- Start Open Page ---------- */
/* Start Open Hero Section */
#open-hero {
    padding-top: 497px;
    background-image: url("../images/open-hero-bg-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: calc(50% + 1px) calc(50% - 5px);
}

/* End of Open Hero Section */

/* Start Open Info Section */
.open-info-part {
    display: flex;
    margin: 32px 0 174px 0;

}

.open-main {
    margin: 0 143px 0 auto;
    width: 640px;
}

.open-main__top-list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.open-main__top-item:not(:last-child) {
    margin-right: 18px;
}

.open-main__top-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #949494;
    text-decoration: none;
}

.open-main__top-link--style {
    display: flex;
    align-items: center;
}

.open-main__top-link--style::before,
.open-main__top-link--style::after {
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: var(--main--color);
}

.open-main__top-link--style::before {
    margin-right: 8px;
}

.open-main__top-link--style::after {
    margin-left: 8px;
}

.open-main__top-link--active {
    color: var(--main-text-color);
}

.open-main__title {
    margin: 33px 0 28px;
    font-weight: 700;
    font-size: 70px;
    line-height: 64px;
    color: var(--main-text-color);
}

.open-main__title-yellow {
    color: var(--main--color);
}

.open-main__texts {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #949494;
}

.open-main__texts:not(:last-child) {
    margin-bottom: 22px;
}

.open-main__texts:nth-child(2) {
    margin-bottom: 28px;
}

.open-main__link-box {
    display: flex;
    align-items: center;
    width: 447px;
    margin-top: 64px;
}

.open-main__link {
    display: inline-flex;
    padding: 15px 37px 14px 37px;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    text-decoration: none;
    transition: all .5s;
}

.open-main__link--price {
    margin-right: 21px;
    background-color: var(--main--color);
    border-radius: 3px;
}

.open-main__link--price:hover {
    background-color: var(--main-text-color);
    color: var(--main--color);
}

.open-main__link--price:active,
.open-main__link--follow:active {
    opacity: 0.6;
}

.open-main__link--price::before,
.open-main__link--follow::before {
    content: "";
    margin-right: 7px;
    width: 21px;
    height: 21px;
    background-image: url("../images/money.svg");
}

.open-main__link--follow {
    background-color: var(--main-text-color);
    border-radius: 3px;
}

.open-main__link--follow::before {
    background-image: url("../images/document.svg");
}

.open-main__link--follow:hover {
    background-color: var(--main--color);
    color: var(--main-text-color);
}

.open-article {
    width: 305px;
    margin-top: 9px;
}

.open-article__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.open-article__item {
    border: 1px solid #E4E4E2;
    border-radius: 5px;
}

.open-article__item:not(:last-child) {
    margin-bottom: 11px;
}

.open-article__text-box {
    padding: 19px 27px 38px 30px;
}

.open-article__item-time {
    display: flex;
    justify-content: flex-end;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #949494;
}

.open-article__list-title-box {
    width: 182px;
}

.open-article__list-title {
    margin: 3px 0 0 0;
    font-weight: 700;
    font-size: 22px;
    line-height: 25px;
    color: #000000;
}

.open-article__list-text-box {
    width: 244px;
}

.open-article__list-text {
    margin: 13px 0 30px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #949494;
}

.open-article__list-link {
    display: inline-flex;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    color: var(--main-text-color);
    text-decoration: none;
    transition: all .5s;
}

.open-article__list-link::before {
    width: 23px;
    height: 21px;
    margin-right: 5px;
    background-image: url("../images/pet.svg");
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
}

.open-article__list-link:hover {
    color: var(--main--color);
}

.open-article__list-link:active {
    opacity: 0.6;
}

/* End of Open Info Section */

/* Start Open Form Section */
#open-form {
    margin-bottom: 187px;
    padding: 64px 0 65px 0;
    background-image: url("../images/open-form-bg-img.jpg");
    background-size: cover, contain;
    background-repeat: no-repeat;
    background-position: center;
}

.open-form-part {
    display: flex;
}

.open-form-part__title-box {
    width: 276px;
    margin: 0 61px 0 100px;
}

.open-form-part__title {
    margin: 0;
    font-weight: 700;
    font-size: 56px;
    line-height: 62px;
    color: #FFFFFF;
}

.open-form-part__text {
    margin: 8px 0 0 0;
    font-weight: 500;
    font-size: 26px;
    line-height: 30px;
    color: #FFFFFF;
}

.open-form {
    position: relative;
    width: 335px;
}

.open-form::before {
    position: absolute;
    top: calc(50% - 289px);
    left: calc(50% + 100px);
    width: 700px;
    height: 636px;
    background-image: url("../images/open-form-dog-bg.png");
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
}

.open-form__input,
.open-form__message {
    width: 335px;
    margin-bottom: 14px;
    padding: 16px 22px 13px;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: var(--main-text-color);
    background-color: #FFFFFF;
    outline: none;
    border: 2px solid transparent;
}

.open-form__message {
    height: 165px;
    resize: none;
}

.open-form__input:focus,
.open-form__message:focus {
    border: 2px solid var(--main--color);
}

.open-form__input:not(:placeholder-shown):not(:focus):invalid,
.open-form__message:not(:placeholder-shown):not(:focus):invalid {
    color: #DC4D41;
    border: 2px solid #DC4D41;
}

.open-form__input::placeholder,
.open-form__message::placeholder {
    color: #949494;
}

.open-form__btn {
    margin-top: 12px;
    padding: 15px 49px 14px 50px;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    background-color: #000000;
    border: none;
    transition: all .5s;
}

.open-form__btn:hover {
    background-color: var(--main--color);
    color: var(--main-text-color);
}

.open-form__btn:active {
    opacity: 0.6;
}

/* End of Open Form Section */

/* ---------- End of Open Page ---------- */

/* Start Questin Modal Window  */

.modal-main {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000a6;
}

.modal-main-On {
    display: block;
}

.modal-window {
    position: relative;
    top: 8%;
    left: 22%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 850px;
    padding: 119px 70px 137px 70px;
    background-image: url("../images/modal-bg-img.png");
    background-color: var(--main--color);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-animation: slidedown 1s 1;
    animation: slidedown 1s 1;
}

.modal-window__close-btn {
    position: absolute;
    top: 21px;
    left: 20px;
    width: 18px;
    height: 18px;
    border: none;
    background-image: url("../images/close-icon.svg");
    background-color: transparent;
    background-repeat: no-repeat;
    cursor: pointer;
}

.modal-links-box {
    margin-top: 30px;
}

.modal-links-box__title {
    margin: 0 0 21px 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: var(--main-text-color);
}

.modal-links-box__link-box {
    width: 255px;
}

.modal-link-box__google-link,
.modal-link-box__facebook-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 15px 36px;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: var(--main-text-color);
    background: #FFFFFF;
}

.modal-link-box__google-link {
    margin-bottom: 21px;
}

.modal-link-box__google-link:before,
.modal-link-box__facebook-link:before {
    width: 20px;
    height: 20px;
    margin-right: 13px;
    background-image: url("../images/google.svg");
    background-repeat: no-repeat;
    content: '';
}

.modal-link-box__facebook-link:before {
    margin-right: 14px;
    background-image: url("../images/facebook.svg");
}

.modal-form-box {
    width: 358px;
}

.modal-form-box__title {
    margin: 0;
    font-weight: 700;
    font-size: 50px;
    line-height: 54px;
    color: var(--main-text-color);
}

.modal-form-box__input,
.modal-form-box__message {
    width: 335px;
    margin: 25px 0 21px 0;
    padding: 16px 22px 13px;
    color: var(--main-text-color);
    background-color: #FFFFFF;
    border: 2px solid transparent;
    /* outline: none; */
}

.modal-form-box__input::-webkit-input-placeholder,
.modal-form-box__message::-webkit-input-placeholder {
    line-height: 21px;
    color: #949494;
}

.modal-form-box__input::-moz-placeholder,
.modal-form-box__message::-moz-placeholder {
    line-height: 21px;
    color: #949494;
}

.modal-form-box__input:-ms-input-placeholder,
.modal-form-box__message:-ms-input-placeholder {
    line-height: 21px;
    color: #949494;
}

.modal-form-box__input::-ms-input-placeholder,
.modal-form-box__message::-ms-input-placeholder {
    line-height: 21px;
    color: #949494;
}

.modal-form-box__input::-webkit-input-placeholder,
.modal-form-box__message::-webkit-input-placeholder {
    line-height: 21px;
    color: #949494;
}

.modal-form-box__input::-moz-placeholder,
.modal-form-box__message::-moz-placeholder {
    line-height: 21px;
    color: #949494;
}

.modal-form-box__input:-ms-input-placeholder,
.modal-form-box__message:-ms-input-placeholder {
    line-height: 21px;
    color: #949494;
}

.modal-form-box__input::-ms-input-placeholder,
.modal-form-box__message::-ms-input-placeholder {
    line-height: 21px;
    color: #949494;
}

.modal-form-box__input::placeholder,
.modal-form-box__message::placeholder {
    line-height: 21px;
    color: #949494;
}

/* .modal-form-box__input:focus,
.modal-form-box__message:focus {
    border: 1px solid var(--main--color);
} */

.modal-form-box__input:not(:-moz-placeholder-shown):not(:focus):invalid,
.modal-form-box__message:not(:-moz-placeholder-shown):not(:focus):invalid {
    color: #DC4D41;
    border: 2px solid #DC4D41;
}

.modal-form-box__input:not(:-ms-input-placeholder):not(:focus):invalid,
.modal-form-box__message:not(:-ms-input-placeholder):not(:focus):invalid {
    color: #DC4D41;
    border: 2px solid #DC4D41;
}

.modal-form-box__input:not(:-moz-placeholder-shown):not(:focus):invalid,
.modal-form-box__message:not(:-moz-placeholder-shown):not(:focus):invalid {
    color: #DC4D41;
    border: 2px solid #DC4D41;
}

.modal-form-box__input:not(:-ms-input-placeholder):not(:focus):invalid,
.modal-form-box__message:not(:-ms-input-placeholder):not(:focus):invalid {
    color: #DC4D41;
    border: 2px solid #DC4D41;
}

.modal-form-box__input:not(:placeholder-shown):not(:focus):invalid,
.modal-form-box__message:not(:placeholder-shown):not(:focus):invalid {
    color: #DC4D41;
    border: 2px solid #DC4D41;
}

.modal-form-box__message {
    margin: 0;
    height: 165px;
    resize: none;
}

.modal-form-box__btn {
    margin-top: 27px;
    padding: 14px 67px 15px 55px;
    font-weight: 500;
    line-height: 21px;
    color: #FFFFFF;
    background: #000000;
    border: none;
}

@-webkit-keyframes slidedown {

    from {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
    }

    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

}

@keyframes slidedown {

    from {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
    }

    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

}

/* End of Questin Modal Window  */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {

    #hero {
        background-image: url('../images/hero-bg-img@2x.png'), url('../images/hero-parrot-bg-img@2x.png');
    }

    #notification {
        background-image: url("../images/article-bg-img@2x.png");
    }

    #service-hero {
        background-image: url("../images/service-hero-bg@2x.png");
    }

    #faq-hero {
        background-image: url("../images/faq-hero-img@2x.png"), url("../images/faq-summary-img@2x.png");
    }

    .address-box::before {
        background-image: url("../images/contact-address-img@2x.png");
    }

    .modal-window {
        background-image: url("../images/modal-bg-img@2x.png");
    }
}